/src/1-Front/MinutoSeguros.Mvc/obj/
/src/1-Front/MinutoSeguros.Mvc/bin/

/src/2-Application/MinutoSeguros.Application/obj/
/src/2-Application/MinutoSeguros.Application/bin/

/src/3-Domain/MinutoSeguros.Domain/obj/
/src/3-Domain/MinutoSeguros.Domain/bin/

/src/4-Infra/MinutoSeguros.Infra.DI/obj/
/src/4-Infra/MinutoSeguros.Infra.DI/bin/

/src/4-Infra/MinutoSeguros.Infra.Http/obj/
/src/4-Infra/MinutoSeguros.Infra.Http/bin/

/src/5-Test/MinutoSeguros.SeleniumTest/obj/
/src/5-Test/MinutoSeguros.SeleniumTest/bin/

/src/5-Test/MinutoSeguros.UnitTest/obj/
/src/5-Test/MinutoSeguros.UnitTest/bin/